# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# PyTorch
*.pth
*.pt

# Data
datasets/VIPSeg_*
datasets/coco

# Results
outputs/
checkpoints/
output/

# OS
.DS_Store 